# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
ENV/
env/

# Environment & config files
.env
config.toml

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Temporary files
*.tmp
*.temp
